.manage-header{
    margin-top: 30px;
    font-size: 40px;

    text-align: center;
    color: rgb(0, 0, 12);
}
.listing-button-box{
    display: flex;
    width: 100%;
}

.create-listing-button{

    margin: 50px auto;

    cursor: pointer;
    color: rgb(0, 0, 1);
    text-decoration: underline;
}

.manage-spot-button {
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
  .update-spot {
    background-color: #0077B6;
    color: white;
    margin-left: 2px;
  }
  
  .update-spot:hover {
    background-color: #005F87;
  }

  .delete-spot {
    background-color: #D62828;
    color: white;
    margin-right: 2px;
  }
  
  .delete-spot:hover {
    background-color: blue;
  }