* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#modal-images-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modalSlide 0.3s ease;
  z-index: 10000;
}

#images-modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  animation: modalContent 0.5s ease forwards;

}
#modal-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
}

.gallery-image {
  height: 700px;
  width: 700px;
  max-height: 700px;
  max-width: 700px;
  object-fit: cover;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

#close-modal-btn {
  background-color: transparent;
  border: none;
}
.exit-modal {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
}

/* keyframes */

@keyframes modalSlide {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modalContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
