.spotpage-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}
.spot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1vh auto;
}
.spot-name {
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  font-size: 32px;
}
.spot-description {
  padding-top: 20px;
  overflow-wrap: break-word;
}
.share-like-btns {
  display: flex;
}
.share-btn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px;
}
.download-icon {
  width: 20px;
  height: 25px;
  margin-right: 5px;
  padding-bottom: 5px;
}

.like-btn {
  border: none;
  background-color: transparent;
  margin-left: 15px;
}
.like-btn img {
  height: 22px;
  width: 22px;
}

.spotpage-main-div {
  display: flex;
  margin-bottom: 3rem;
  gap: 2rem;
}
.spotpage-main-div > div:first-child {
  flex: 2;
  min-width: 300px;
}
.reserve-btn-box {
  position: sticky;
  flex: 1;
  flex-direction: column;
  top: 80px;
  padding: 1.5rem;
  /* margin: 40px 0 auto 20vw; */
  margin-top: 40px;
  margin-left: auto;
  background-color: rgb(252, 252, 252);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 200px;
  height: fit-content;
  max-height: 300px;
  min-height: 70px;
}
.price-and-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price-and-stars img {
  margin: 0 0 0 15px;
}

.price-and-stars h4 {
  margin: 0 15px 0 0;
  color: black;
  font-size: 18px;
}
.spot-reviews-section {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;
}

.reserve-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff385c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.reserve-btn:hover {
  background-color: #e31c5f;
}
