
.images-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 8px;
    margin: 1vh auto;
    padding: 0;
    width: 100%;        
    height: 580px;    
    max-width: 1120px;
    border-radius: 12px;
    overflow: hidden;
  }
  

  .grid-image,
  .grid-image-large {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }
  

.images-grid img {
    transition: opacity 0.3s ease;
  }
  
  .images-grid img:hover {
    opacity: 0.8;
  }

.grid-image-large{
  
    grid-row: span 2;
    grid-column: span 2;
}
.display-all-btn{
    position: absolute;
    right: 100px;
    bottom: 8px;

}