.spotReviews {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    
  }
  

  .review-btn{
    background-color: #3645eb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  }

  .review-btn:hover{
    background-color: #130558;
  color: rgb(242, 245, 247);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
 
 
  }

  .review-count-div{
    display: flex;
    padding: 20px 0;
  }


  #rating-dot {
    width: 10px;
    height: 10px;
   align-self: center;
   padding-left: 10px;
   padding-right: 10px;
  }

  .spotReviews ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .spotReviews li {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
  }
  
  .spotReviews h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .spotReviews p {
    margin: 0;
    font-size: 1rem;
    color: #555;
  }
  

  

  

  

  

   